<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/seguridad</property>
    <property name="hibernate.connection.username">admin_sec</property>
    <property name="hibernate.connection.password">12345</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="ModSec/entidades/CtasUsuarios.hbm.xml"/>
    <mapping resource="ModSec/entidades/Log.hbm.xml"/>
    <mapping resource="ModSec/entidades/OpcModulo.hbm.xml"/>
    <mapping resource="ModSec/entidades/OpcRol.hbm.xml"/>
    <mapping resource="ModSec/entidades/Modulos.hbm.xml"/>
    <mapping resource="ModSec/entidades/Roles.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
